* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@-ms-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
::selection {
  background-color: #27ae60;
  color: #fff; }

::-moz-selection {
  background-color: #27ae60;
  color: #fff; }

html {
  background-color: #fff;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent; }

html, body {
  height: 100%; }

/* default OS fonts */
body {
  font-family: Georgia, serif; }

/* fonts now loaded */
.wf-active body {
  font-family: "Merriweather"; }

body {
  font-weight: 300;
  font-size: 100%;
  line-height: 1.625;
  margin: 0 auto;
  color: #333; }
@media screen and (min-width: 37.5em) {
  body {
    font-size: 106.3%;
    line-height: 1.588235294em; } }
@media screen and (min-width: 50em) {
  body {
    font-size: 112.5%;
    line-height: 1.611111111; } }
@media screen and (min-width: 62.5em) {
  body {
    font-size: 125%; } }

h1, h2, h3 {
  font-family: "Merriweather" Georgia, serif;
  font-weight: 900;
  margin-top: 0; }

h1, h2 {
  color: #fff;
  font-size: 2em;
  line-height: 1.625;
  margin-bottom: 0.40625em; }
@media screen and (min-width: 37.5em) {
  h1, h2 {
    font-size: 2.8125em;
    line-height: 1.155555556; } }
@media screen and (min-width: 50em) {
  h1, h2 {
    font-size: 4em;
    line-height: 1.21875;
    margin-bottom: 0.40625em; } }

h2 {
  color: #333;
  text-align: left; }

h3 {
  font-size: 2.375em;
  line-height: 1.368421052;
  margin-bottom: 0.68421053em;
  color: #fff; }

p, ul, img {
  margin-bottom: 1.6em; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

a {
  color: #27ae60;
  text-decoration: none;
  font-weight: 700; }

a:hover {
  text-decoration: underline; }

a:active, a:hover {
  outline: 0; }

.cover {
  position: relative;
  background-color: #5a8a3a;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover; }

.cover--header {
  margin-bottom: 1.6em;
  min-height: 100%;
  background-image: url(../img/hero--small.jpeg); }
@media screen and (min-width: 37.5em) {
  .cover--header {
    background-image: url(../img/hero--medium.jpeg); } }
@media screen and (min-width: 50em) {
  .cover--header {
    background-image: url(../img/hero--large.jpeg); } }
@media screen and (min-width: 62.5em) {
  .cover--header {
    background-image: url(../img/hero--largest.jpeg); } }

.image--transport {
  background-attachment: fixed;
  background-image: url(../img/transport--small.jpeg); }
@media screen and (min-width: 37.5em) {
  .image--transport {
    background-image: url(../img/transport--medium.jpeg); } }
@media screen and (min-width: 50em) {
  .image--transport {
    background-image: url(../img/transport--large.jpeg); } }
@media screen and (min-width: 62.5em) {
  .image--transport {
    background-image: url(../img/transport--largest.jpeg); } }

.cover--text {
  width: 80%;
  text-align: center;
  position: absolute;
  bottom: 5%; }
@media screen and (min-width: 25em) {
  .cover--text {
    text-align: left; } }
@media screen and (min-width: 62.5em) {
  .cover--text {
    width: 60%; } }

.list {
  font-size: 1em;
  color: #fff;
  list-style: none; }

.list__item {
  display: block; }

.list__item a {
  color: #fff; }

.logo {
  padding-top: 1em; }
@media screen and (min-width: 25em) {
  .logo {
    padding-top: 1.5em;
    margin-right: auto;
    margin-left: auto; } }

/**
 * Footer.
 * ==============================================================
 */
.site__footer {
  color: #fff;
  text-align: center;
  background-color: #5a8a3a;
  padding-top: 1em;
  padding-bottom: .5em; }

@media screen and (max-width: 37.5em) {
  .site__footer {
    text-align: left; } }
.wrapper {
  margin-right: auto;
  margin-left: auto;
  width: 88%;
  padding-top: .8em;
  padding-bottom: .8em; }
@media screen and (min-width: 50em) {
  .wrapper {
    padding-top: 1.6em;
    padding-bottom: 1.6em; } }
@media screen and (min-width: 62.5em) {
  .wrapper {
    width: 78%;
    max-width: 62.500rem;
    padding-top: 2.4em;
    padding-bottom: 2.4em; } }

.article {
  list-style: none;
  overflow: hidden;
  margin-left: -3em; }

.article__header, .article__content, .article__footer, .article__image {
  display: inline-block;
  padding-left: 3em;
  vertical-align: top;
  width: 100%; }

.article__image {
  vertical-align: bottom; }

.article--reverse {
  direction: rtl;
  text-align: left; }

.article--reverse > .article__header, .article--reverse > .article__content, .article--reverse > .article__footer, .article--reverse > .article__image {
  direction: ltr;
  text-align: left; }

@media screen and (min-width: 50em) {
  .tablet--up > .split {
    width: 50%; }

  .desktop > .split {
    width: 33.333333333%; } }
.article__content--lead {
  font-size: 1.1875em;
  margin-bottom: 1.368421053em;
  color: #aaa; }

.color--bright {
  color: #fff; }

/*# sourceMappingURL=styles.css.map */
